
BODY {
    PADDING-BOTTOM: 0px; PADDING-TOP: 5px; position:relative; width:100%;  text-align:center;

}

body > *
{
    width: 1200px;
    margin: 0 auto;
}

header{
    background: url("images/couverture.png");
    position:relative;
    z-index: 16;
    height: 500px;
    background-repeat: no-repeat;

}
home {
    width: 20px;
    height: 20px;
}

#search {
    float: right;
    /* margin: 21px 41px 0 0;*/
    text-align: right;
    position:absolute;
    top:0;
    right: 40px;
    padding-top: 10px;


}
#search form {
    float:right;
}
#search form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 5px;
    width: 129px;
}
#search form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
}
#social {
    float:right;
    list-style:none outside none;
    margin:0 30px 0 0;
    padding:0;
}
#social li {
    float:left;
    padding:0 0 0 5px;
}
#social li a:hover img {
    margin-top:1px;
}
/*navigation menu*/
.hey {
    background-color: #7f1413;
    overflow: hidden;
    height:50px;
}
nav ul {
    margin: 0;
    padding: 0;

}
nav ul li {
    float: left;
    list-style: none outside none;
}
nav ul li a {
    /*padding-top: 10px;*/
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 50px;
    line-height: 20px;
    padding: 15px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li.selected a {
    background: none repeat scroll 0 0 #353535;
}
#submenu {

    background: linear-gradient(#ffffff, #2e2e2e);
    /* border: 1px solid #E0E0E0;*/
    height: 30px;

    /* padding-left: 100px;*/
    /* position:absolute;*/
    width: 60%;
    margin: auto;
}
#cat {
    margin-top: 420px;//blassit categorie
}
#submenu ul form  {
    float: left;
    list-style: none outside none;
}
#submenu ul form {
    margin: 0;
    padding: 0;
    list-style:none;
}
#submenu ul form li{
    padding-top: 5px;
    height: 50px;
}
#submenu ul form li input {

    /*border-right: 1px solid #E0E0E0;*/
    align-content: center;
    background: none;
    border: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 120px;
    text-align: center;
    text-transform: uppercase;

}
#submenu ul form li:hover {
    background-color:darkred;
}
#submenu ul form li input:focus {

    outline:none;

}

#content {
    overflow: hidden;
}

#content #right {
    margin-left: 0;
    width: 30%;
}

#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content #left ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}

#content #right ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}
#content #right ul li:hover {
    background-color: #fbfbfb;
}

#content #right ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}
#content #left ul li .img img {
    height:128px;
    width:128px;
}
#content #right ul li .img img {
    height:70px;
    margin-top: 11px;
    width:70px;
}
#content #left ul li .info {
    padding: 17px 20px 0 19px;
}
#content #right ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}
#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#content ul li .info .title:hover {
    color: #049733;
}
#content #left ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #left ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}
#content #right ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}
#content #left ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}
#content #right ul li .info .price .usual, #content #right ul li .info .price .special {
    color: #7F7F7F;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 6px;
    text-decoration: line-through;
}
#content #right ul li .info .price .special {
    color: #FD7A01;
    font-weight: bold;
    text-decoration: none;
}
#content #left ul li .img form div{
    overflow:hidden;
}

#content #left ul li .img form div input  {
    border: 1px solid #E0E0E0;
    color: #7f1413;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}

#content #left ul li .info .actions form div{
    overflow:hidden;
}

#content #left ul li .info .actions form div input  {
    border: 1px solid #E0E0E0;
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content #left ul li .info .actions form div input:first-child {
    color: #009832;
    float:left;
}
footer {


    bottom: 0;

    background-color: #383838;
    color: white;

    height: 200px;
    margin: 0 auto;
    PADDING-BOTTOM: 0px;  position:relative;
    text-align:center;
}


.colone1 {
    font-size: 20px;
    font-family: Arial,Helvetica,sans-serif;
}
.hey{
    font-size:40px;
    font-family: Arial,Helvetica,sans-serif;
}










table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }




h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #f0f0f0;
}






p {
    display: block;
    font-size: 1.4em;
    line-height: 1.55em;
    margin-bottom: 22px;
    color: #555;
}



/** comme ca elle est au milieu !! **/
#w {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
}


#userphoto {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 8px;
}
input[type='file'] {
    color: transparent;
    float: right;

}

#userphoto img {
    display: block;
    padding: 2px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}


/** profile nav links **/
#profiletabs {
    display: block;
    margin-bottom: 4px;
    height: 50px;
}

#profiletabs ul { list-style: none; display: block; width: 70%; height: 50px; }
#profiletabls ul li { float: left; }
#profiletabs ul li a {
    display: block;
    float: left;
    padding: 8px 11px;
    font-size: 1.2em;
    font-weight: bold;
    background: #eae8db;
    color: #666;
    margin-right: 7px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}
#profiletabs ul li a:hover {
    text-decoration: none;
    background: #dad7c2;
    color: #565656;
}

#profiletabs ul li a.sel {
    background: #fff;
    border-color: #d1cdb5;
}


/** profile content sections **/
.hidden {
    display: none;
}

.activity {
    border-bottom: 1px solid #d6d1af;
    padding-bottom: 4px;
}

.setting {
    display: block;
    font-weight: normal;
    padding: 7px 3px;
    border-top: 1px solid #d6d1af;
    margin-bottom: 5px;
}
.setting span {
    float: left;
    width: 250px;
    font-weight: bold;
}
.setting span img {
    cursor: pointer;
}


