header {
    background: url("images/couverture.png");
    position: relative;
    z-index: 16;
    height: 500px;
    background-repeat: no-repeat
}
#search {
    float: right;
    /* margin: 21px 41px 0 0;*/
    text-align: right;
    position:absolute;
    top:0;
    right: 40px;


}
#search form {
    float:right;
}
#search form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 5px;
    width: 129px;
}
#search form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
}
nav {
    background-color: #7f1413;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li.selected a {
    background: none repeat scroll 0 0 #353535;
}